<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1049" key="181758ea-4be2-4dbe-8a28-11519cb74f09" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2020-03-23T17:18:21" updateDate="2020-03-26T15:57:15" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="1" template="1047" nodeTypeAlias="home">
    <intro><![CDATA[This is dynamic intro]]></intro>
    <blog id="1052" key="e638f9f3-ea64-4bab-90c6-9bc6af5ecf34" parentID="1049" level="2" creatorID="1" sortOrder="0" createDate="2020-03-24T21:19:14" updateDate="2020-03-24T21:19:14" nodeName="Blog" urlName="blog" path="-1,1049,1052" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="1" template="1050" nodeTypeAlias="blog" />
    <portfolio id="1056" key="73b80c30-7048-4206-8d96-792ed6e23956" parentID="1049" level="2" creatorID="1" sortOrder="1" createDate="2020-03-24T21:43:39" updateDate="2020-03-24T21:43:39" nodeName="Portfolio" urlName="portfolio" path="-1,1049,1056" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="1" template="1053" nodeTypeAlias="portfolio" />
    <services id="1059" key="17366c16-b29b-46bc-8ed1-24c3c7d2e24e" parentID="1049" level="2" creatorID="1" sortOrder="2" createDate="2020-03-24T21:55:47" updateDate="2020-03-24T21:55:47" nodeName="Services" urlName="services" path="-1,1049,1059" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="1" template="1057" nodeTypeAlias="services" />
    <about id="1062" key="50f2ca1a-b38d-48fd-acdc-50593d38c2e2" parentID="1049" level="2" creatorID="1" sortOrder="3" createDate="2020-03-24T22:01:43" updateDate="2020-03-24T22:01:43" nodeName="About" urlName="about" path="-1,1049,1062" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="1" template="1060" nodeTypeAlias="about" />
    <contact id="1065" key="053cfe8c-f7c9-45a4-9bc5-456b6cf71921" parentID="1049" level="2" creatorID="1" sortOrder="4" createDate="2020-03-24T22:07:36" updateDate="2020-03-24T22:07:36" nodeName="Contact" urlName="contact" path="-1,1049,1065" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="1" template="1063" nodeTypeAlias="contact" />
  </home>
</root>